* {
    margin: 0;
    padding: 0;
}
header {
    background-color: #eee;
}
.container {
    display:  flex;
    max-width: 1157px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav {
    margin-top: 37px;
}
.header__nav {
    display:  flex;
}
.header__logo {
    margin-top: 48px;
}
.nav__item {
    list-style-type: none;
    padding-right: 40px;
}
.nav__item > a, .header__basket > a {
    padding: 5px;
    text-decoration: none;
    color:  #000;
    font-family: Roboto;
    font-weight: 500;
}
.header__basket {
    position: relative;
    margin-top: 37px;
}
.header__basket > a::before {
    content: "";
    position: absolute;
    background: url(../img/Shape.svg) center center no-repeat;
    width: 15px;
    height: 15px;
    left: -27px;
    top: 2px;
}
/*-------------------------slider--------------------------*/

.slider {
    position:relative;
    width:1157px;
    padding-top:370px;
    text-align:center;
    margin-bottom: 100px;
    }
.slider__check {
    position:absolute;
    clip:rect(0 0 0 0);
    overflow:hidden;
  }
  
.slider__div {
        position:absolute;
        top: -14px;
        left: 597px;
        }
    
.slider__label {
        position: absolute;
        overflow:hidden;
        display:inline-block;
        width:20px;
        height:20px;
        background:#fff;
        border-radius:50%;
        text-indent:-9999px;
        z-index: 1;
        }

/* Display */
.slider__div {
    display:none;
    }
.slider__check:checked + .slider__label + .slider__div {
    display:block;
    }

/* Current */
.slider__check:checked + .slider__label {
    background:#fff;
    }
    .slider__check:checked + .slider__label::after {
    content: "";
    width: 3px;
    height: 3px;
    border: 2px solid lightgray;
    border-radius: 50%;
    position: absolute;
    left: 7px;
    top: 6px;
}
    }
    /*-------------------------slider--------------------------*/
.slider__check-pos-first {
    left: 710px;
    top: 320px;
}
.slider__check-pos-second {
    left: 755px;
    top: 320px;
}
.slider__check-pos-third {
    left: 800px;
    top: 320px;
}
.slider__label-pos-first {
    left: 710px;
    top: 320px;
}
.slider__label-pos-second {
     left: 755px;
    top: 320px;
}
.slider__label-pos-third {
     left: 800px;
    top: 320px;
}

.header__slider-description {
    position: absolute;
    top: 90px;
    left: 178px;
    text-align: left;
}
.header__slider-title {
    font-size: 55px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 55px;
}
.header__slider-text {
    margin: 25px 0 38px;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    color: #283136;
}
.header__slider-button {
    padding: 17px 54px 15px;
    font-size: 16px;
    line-height: 18px;
    font-family: Roboto;
    background-color: #FB565A;
    color: #fff;
    border: none;
}
.header__slider-button:hover {
    text-decoration: underline;
    transition: .2s ease;
    cursor: pointer;
    background-color: #C61113;
}

