* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}
header {
    background-color: #eee;
}
ul {
    list-style-type: none;
}
.container {
    display:  flex;
    max-width: 1160px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav {
    margin-top: 37px;
}
.header__nav {
    display:  flex;
}
.header__logo {
    margin-top: 48px;
}
.nav__item {
    list-style-type: none;
    padding-right: 40px;
}
.nav__item > a, .header__basket > a {
    padding: 5px;
    text-decoration: none;
    color:  #000;
    font-family: Roboto;
    font-weight: 500;
}
.header__basket {
    position: relative;
    margin-top: 37px;
}
.header__basket > a::before {
    content: "";
    position: absolute;
    background: url(../img/Shape.svg) center center no-repeat;
    width: 15px;
    height: 15px;
    left: -27px;
    top: 2px;
}
.nav__item > a:hover,
.header__basket > a:hover {
    color: #FB565A;
}
.header__title {
    padding: 87px 0 108px;
    text-align: center;
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}
.main {
    display:  flex;
    flex-direction: row;
    max-width: 1160px;
    margin: 0 auto;
}
.sidebar {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: 70px;
} 
.main-catalog__header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 60px 0 60px;
}
.main-catalog__header > p {
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
}
.main-catalog__options {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 14px;
}
.main-catalog__options > li > a,
.main-catalog__options_dropdown-menu > li > a {
    text-decoration: none;
    text-transform: uppercase;
    opacity: .3;
    line-height: 18px;
    font-weight: 400;
    color: #000;
}
.main-catalog__options > li > a:hover,
.main-catalog__options_dropdown-menu > li > a:hover {
    opacity: .7;
}
.main-catalog__options > li > a:active,
.main-catalog__options_dropdown-menu > li > a:active {
    opacity: 1;
}
.main-catalog__options > li:last-child {
    position: relative;
}
.main-catalog__options > li:last-child > a::before {
    content: "";
    position: absolute;
    left: 144px;
    top: 18px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid #000;
}
.main-catalog__options > li {
    display: block;
    padding: 15px;
}
.main-catalog__options_dropdown-menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
}
.main-catalog__options_dropdown-menu > li > a {
    
}
.main-catalog__options > li:hover > ul {
    display: block;
}
.main-catalog {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 70%;
}
.main-catalog__element {
    position: relative;
    margin: 10px 20px;
    box-shadow: 1px 1px 1px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.catalog__element-shape {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height:  40px;
    width: 100%;
    background-color: #4D4D4D;
    opacity: .3;
}
.element-shape-circle {
    margin: 0 5px;
    width: 14px;
    height: 14px;
    background-color: #fff;
    border-radius: 50%;
}
.main-catalog__element:hover  .catalog__element-shape {
    opacity: 1;
}
.catalog__element-price {
    display: none;
    position: absolute;
    width: 360px;
    left: 0;
    top: 386px;
    z-index: 1;
    text-align: center;
    background-color: #EEEEEE;
}
.catalog__element-price > h4 {
    margin-top: 26px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
}
.catalog__element-price > p {
    margin: 12px 0 32px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #666;
    font-weight: 400;
}
.catalog__element-price > button {
    margin-bottom: 50px;
    padding: 17px 72px 15px;
    border: none;
    font-size: 16px;
    line-height: 18px;
    background-color: #FB565A;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}
.main-catalog__element:hover .catalog__element-price {
    display: block;
    transition: .5s ease;
}
.sidebar-form, .checkbox-form {
    display: flex;
    flex-direction: row;
}
.radio-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}
.radio-wrapper  {
}
.label-wrapper, .label-wrapper-square {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    font-size: 16px;
    line-height: 19px;
    color: #283136;
    font-weight: 400;
}
.label-wrapper > label,
    .label-wrapper-square > label {
    margin:  7px 0 8px 0;
}
.sidebar > p {
    margin-right: 110px;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}
/*.radio-wrapper > input {
    appearance: none;
    position: absolute;
}
.label-wrapper-square > label {
    position: relative;
}
.label-wrapper-square > label:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -30px;
    z-index: 1;
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
}
.label-wrapper-square > label:after {
    content: "";
    width: 16px;
    height: 16px;
    display: block;
    background: url(../img/check.svg) no-repeat;
    background-size: 18px 18px;
    position: absolute;
    top: 0;
    left: -26px;
    z-index: 2;
    opacity: 0;
}
input:checked + label:before {
  background-color: #000;
}*/
.next-page-list {
    display: flex;
    margin-top: 50px;
    list-style-type: none;
    text-transform: uppercase;
}
.next-page-list  a {
    padding: 17px 20px 15px 20px;
    background-color: #EEE;
    border: 3px solid #DBDBDB;
    margin: 10px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-decoration: none;
    color: #000;
    border-radius: 3px;
}
.next-page-list  a:hover {
    background-color: #fff;
    transition: .2s ease;
}
.next > a {
    padding: 17px 77px 15px 78px;
}
.section-map {
    margin-top: 80px;
    width: 100%;
    height: 496px;
    position: relative;
}
.map-contacts {
    position: absolute;
    left: 262px;
    top: 54px;
    width: 320px;
    background-color: #fff;
    text-align: center;
}
.map-contacts > h3 {
    margin: 49px auto 22px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    color: #000;
}
.map-contacts > a,
    .map-contacts > p {
    color: #666;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
}
.map-contacts > p {
    margin-bottom: 25px;
}
.map-contacts > button {
    margin: 38px auto 47px;
    padding: 16px 44px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #fff;
    background-color: #FB565A;
    border:  none;
    border-radius: 3px;
}
.footer-wrapper {
    display:  flex;
    max-width: 1157px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.footer__contact-block {
    margin: 68px 0;
}
.vk-icon, .fb-icon, .insta-icon {
    position: relative;
    margin: 0 9px;
    border-radius: 50%;
    color: #fff;
    background-color: #E1E1E1;
}
.vk-icon {
    padding: 30px;

 }   
.fb-icon {
    padding: 31px 34px 28px 35px;
}
.insta-icon {
   padding: 30px;
}
.fb-icon:hover,
.insta-icon:hover,
 .vk-icon:hover {
    transition: .3s ease;
    background-color: #E74246;
}

.footer__title {
    font-size: 36px;
    line-height: 36px;
    font-family: Roboto;
}
.footer__text {
    margin-top: 10px;
    font-size: 16px;
    line-height: 22px;
    font-family: Roboto;
    font-weight: 400;
}