* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}
header {
    background-color: #eee;
}
ul {
    list-style-type: none;
}
.container {
    display:  flex;
    max-width: 1160px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav {
    margin-top: 37px;
}
.header__nav {
    display:  flex;
}
.header__logo {
    margin-top: 48px;
}
.active {
    border-bottom: 2px solid #FB565A;
}
.nav__item {
    list-style-type: none;
    padding-right: 40px;
}
.nav__item > a, .header__basket > a {
    padding: 15px;
    text-decoration: none;
    color:  #000;
    font-family: Roboto;
    font-weight: 500;
    text-transform: uppercase;
}
.header__basket {
    position: relative;
    margin-top: 37px;
}
.header__basket > a::before {
    content: "";
    position: absolute;
    background: url(../img/Shape.svg) center center no-repeat;
    width: 15px;
    height: 15px;
    left: -27px;
    top: 2px;
}
.nav__item > a:hover,
.header__basket > a:hover {
    color: #FB565A;
}
.header__title {
    padding: 87px 0 108px;
    text-align: center;
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}
.main {
    display:  flex;
    flex-direction: row;
    max-width: 1160px;
    margin: 0 auto;
}
.sidebar {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: 70px;
} 
.main-catalog__header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 60px 0 60px;
}
.main-catalog__header > p {
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
}
.main-catalog__options {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 14px;
}
.main-catalog__options > li > a,
.main-catalog__options_dropdown-menu > li > a {
    text-decoration: none;
    text-transform: uppercase;
    opacity: .3;
    line-height: 18px;
    font-weight: 400;
    color: #000;
}
.main-catalog__options > li > a:hover,
.main-catalog__options_dropdown-menu > li > a:hover {
    opacity: .7;
}
.main-catalog__options > li > a:active,
.main-catalog__options_dropdown-menu > li > a:active {
    opacity: 1;
}
.main-catalog__options > li:last-child {
    position: relative;
}
.main-catalog__options > li:last-child > a::before {
    content: "";
    position: absolute;
    left: 144px;
    top: 18px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid #000;
}
.main-catalog__options > li {
    display: block;
    padding: 15px;
}
.main-catalog__options_dropdown-menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
}
.main-catalog__options_dropdown-menu > li > a {
    
}
.main-catalog__options > li:hover > ul {
    display: block;
}
.main-catalog {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 70%;
}
.main-catalog__element {
    position: relative;
    margin: 10px 20px;
    box-shadow: 1px 1px 1px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.catalog__element-shape {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height:  40px;
    width: 100%;
    background-color: #4D4D4D;
    opacity: .3;
    border-radius: 5px;
}
.element-shape-circle {
    margin: 0 5px;
    width: 14px;
    height: 14px;
    background-color: #fff;
    border-radius: 50%;
}
.main-catalog__element:hover  .catalog__element-shape {
    opacity: 1;
}
.catalog__element-price {
    display: none;
    position: absolute;
    width: 360px;
    left: 0;
    top: 386px;
    z-index: 1;
    text-align: center;
    background-color: #EEEEEE;
}

.catalog__element-price > h4 {
    margin-top: 26px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}
.catalog__element-price > h4:hover {
    color: #FB565A;
}
.catalog__element-price > h4:active {
    color: #000;
    opacity: .3;
}
.catalog__element-price > p {
    margin: 12px 0 32px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #666;
    font-weight: 400;
}
.catalog__element-price > button {
    margin-bottom: 50px;
    padding: 17px 72px 15px;
    border: none;
    font-size: 16px;
    line-height: 18px;
    background-color: #FB565A;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}
.catalog__element-price > button:hover {
    background-color: #E74246;
}
.catalog__element-price > button:active {
    background-color: #D7373B;
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.main-catalog__element:hover  .catalog__element-price {
    display: block;
    transition: .5s ease;
}
/*  --------------------slider--------------------*/
.range-slider {
    display: flex;
    align-items: center;
    position: relative;
    width: 260px;
    background-color: #EEE;
    height: 80px;
}
.slider__element-start,
    .slider__element-end {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        z-index: 1;
    }
.slider__element-start {
    top: 30px;
    left: 10px;
    }
.slider__element-end {
    top: 30px;
    left: 160px;
}
.slider__element-start > span,
.slider__element-end > span {
    display: block;
    width: 4px;
    height: 4px;
    background-color: #ABABAB;
    border-radius: 50%;
    margin: 40% auto;
}
    .range {
        position: relative;
        margin: 0 auto;
        width: 205px;
        height: 1px;
        background-color: #D7DCDF;
    }
    .range:before {
        content: "";
        display: block;
        height: 1px;
        width: 140px;
        background-color: #00CA74;
        position: absolute;
        top: 50%;
        left: 0;
    }
    .calculate {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 14px;
        width: 260px;
    }
    .min, .max {
        padding: 8px 20px;
        border-radius: 3px;
        background-color: #EEE;
    }
/*  --------------------radio&checkbox--------------------*/
aside {
    width: 30%;
}
fieldset {
    margin: 5px 0;
    position: relative;
    border: none;
}
aside > form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}
.aside-form > fieldset > input {
    position: absolute;
    appearance: none;
}
.aside-form label {
    padding-left: 35px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: #283136;
}
.checkbox__label:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    background-color: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.checkbox__label:after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    background: url(../img/check.svg) no-repeat;
    background-size: 18px 18px;
    opacity: 0;
    position: absolute;
    top: 2px;
    left: 7px;
    z-index: 2;
}

.checkbox__input:checked + label:after {
    opacity: 1;
}
.radio__label:before {
    content: "";
    display: block;
    width: 21px;
    height: 21px;
    border: 2px solid #ccc;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.radio__label:after {
    content: "";
    display: block;
    width: 9px;
    height: 9px;
    background-color: #6d768e; 
    border-radius: 50%;
    opacity: 0;
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 2;
}

.radio__input:checked + label:after {
    opacity: 1;
}
.price-text {
    margin: 0 0 16px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
}
.aside__form-text {
    margin: 46px 0 16px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
}
.form__button-show {
    margin-top: 50px;
    padding: 17px 89px 15px;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #EEE;
    border-radius: 3px;
}
.form__button-show:hover {
    background-color: #DFDFDF;
}
.form__button-show:active {
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    background-color: #D5D5D5;
    opacity: .6;
}
.next-page-list {
    display: flex;
    margin-top: 50px;
    list-style-type: none;
    text-transform: uppercase;
}
.next-page-list  a {
    padding: 17px 20px 15px 20px;
    background-color: #EEE;
    border: 3px solid #DBDBDB;
    margin: 10px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-decoration: none;
    color: #000;
    border-radius: 3px;
}
.next-page-list  a:hover {
    background-color: #DFDFDF;
    transition: .2s ease;
}
.next-page-list  a:active{
    background-color: #D5D5D5;
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
a.active-next-page {
    background-color: #fff;
}
.next > a {
    padding: 17px 77px 15px 78px;
}

.section-map {
    margin-top: 80px;
    width: 100%;
    height: 496px;
    position: relative;
}
.map-contacts {
    position: absolute;
    left: 262px;
    top: 54px;
    width: 320px;
    background-color: #fff;
    text-align: center;
}
.map-contacts > h3 {
    margin: 49px auto 22px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    color: #000;
}
.map-contacts > a,
    .map-contacts > p {
    color: #666;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
}
.map-contacts > p {
    margin-bottom: 25px;
}
a.button-send {
    display: inline-block;
    margin: 38px auto 47px;
    padding: 16px 44px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #fff;
    background-color: #FB565A;
    border:  none;
    border-radius: 3px;
}
.footer-wrapper {
    display:  flex;
    max-width: 1157px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.footer__contact-block {
    margin: 68px 0;
}
.vk-icon, .fb-icon, .insta-icon {
    position: relative;
    margin: 0 9px;
    border-radius: 50%;
    color: #fff;
    background-color: #E1E1E1;
}
.vk-icon {
    padding: 30px;

 }   
.fb-icon {
    padding: 31px 34px 28px 35px;
}
.insta-icon {
   padding: 30px;
}
.fb-icon:hover,
.insta-icon:hover,
 .vk-icon:hover {
    transition: .3s ease;
    background-color: #E74246;
}
.fb-icon:active,
.insta-icon:active,
 .vk-icon:active {
    background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
 }

.footer__title {
    font-size: 36px;
    line-height: 36px;
    font-family: Roboto;
}
.footer__text {
    margin-top: 10px;
    font-size: 16px;
    line-height: 22px;
    font-family: Roboto;
    font-weight: 400;
}
.popup:target {
    display: block;

}
.popup {
    display: none;
    position: absolute;
    left: 15%;
    top: -140px;
    width: 960px;
    height: 590px;
    background-color: #fff;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    z-index: 2;
}
.popup  h3 {
    padding: 63px 0 64px 100px;
    font-size: 45px;
    line-height: 53px;
    font-weight: bold;
}
.popup > form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
}
.popup > form > fieldset {
    display: flex;
    flex-direction: column;
}
.popup__form-name, .popup__form-email {
    width: 360px;
}
.popup__form-name {
    padding-left: 100px;
}
.popup__form-name input,
.popup__form-email input {
    padding: 16px 14px;
    border: 1px solid #D7DCDE;
}
.popup__form-email {
    padding: 0 100px 0 40px;
}
.popup__form-letter {
    margin: 34px 100px 47px 100px;
}
.popup__form-letter > input {
    padding: 16px 414px 84px 16px;
    width: 330px;
    border: 1px solid #D7DCDE;
}
.popup > form > fieldset > label {
    padding-bottom: 9px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #000;
}
.popup > form > div {
    width: 960px;
    padding-left: 100px;
}
.popup > form > div > button {
    margin-bottom: 84px;
    padding: 17px 83px 15px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    background-color: #FB565A;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.popup > form > div > button:hover {
    background-color: #E74246;
}
.popup > form > div > button:active {
    background-color: #D7373B;
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.close {
    position: absolute;
    display: block;
    background: url(../img/close.png) center no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    left: 835px;
    top: 78px;
    z-index: 3
}
.popup-close-check {
    position: absolute;
    left: 990px;
    top: 87px;
    display: none;
}
#popup-close-check:checked + .popup {
    display: none;
}
#popup-close-check:checked + .close {
    display: none;
}

